<% let successMsg = locals.success || []; %>
<% let errorMsg = locals.error || []; %>

<% if (successMsg.length > 0) { %>
  <div class="alert alert-success alert-dismissible fade show col-6 offset-3 mt-3" role="alert">
    <%= successMsg %>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
<% } %>

<% if (errorMsg.length > 0) { %>
  <div class="alert alert-danger alert-dismissible fade show col-6 offset-3 mt-3" role="alert">
    <%= errorMsg %>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
<% } %>