/* body{
    background-color: #31c321;
} */


/* navbarrr */

body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* eske wjh se footer humesha float nhi krega stick rhega bottom pe jitna space form lega */
.container{       
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: white;
}

.fa-airbnb{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}


/* footer */
.f-info-links a{
    text-decoration: none;
    color:black;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info{
    text-align: center;
    display:flex;
    background-color:#f1f1f1;
    height: 80px;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly;
}
.f-info-links,.f-info-socials{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials{
    font-size: 1.2 rem;
    margin-right: 1 rem;
}
/* cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover;
}

.card-body {
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}
/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* add new listing button */

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
/* edit page */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}
/* new page */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
/* edit page */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* show image */
.show-img{
    height: 40vh;
}
.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

.m-100 {
    width:150px;
    height:100px;
    object-fit:cover;
    object-position:50% 50%;
}

/* map */
#map {
    height: 400px;
    width: 96vh;
}